.aside {
  height: 100vh;
  padding: 37px 32px;
  background-color: #363740;

  .logo {
    margin-bottom: 64px;

    &__title {
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #a4a6b3;
      opacity: 0.7;
    }
  }

  &__list {
    padding: 0;
    list-style: none;

    &-item {
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 18px 0;

      strong {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #a4a6b3;
      }
    }
  }
}


